In [6]:
import numpy as np 
import pandas as pd 
#from sklearn.decomposition import PCA #主成分分析器
df = pd.read_csv('iris.csv')
df_data = df.loc[:,'sepal_length':'petal_width']
data = df_data.iloc[:].values
df.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [8]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [32]:
def Maharanovis_d(a,b,A,mean):
    X = np.array([a,b])
    dist = distance.mahalanobis(X, mean, np.linalg.pinv(A))
    return dist

In [11]:

df2 = pd.read_csv('auto-mpg.csv')
x1 = df2['weight']
x2 = df2['horsepower']
y = df2['mpg']
df2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [45]:
pca = PCA()
pca.fit(data.T)
# データを主成分空間に写像
feature = pca.transform(data.T)
# 主成分得点
pd.DataFrame(feature, columns=["PC{}".format(x + 1) for x in range(len(dfs.columns))]).head()

NameError: name 'PCA' is not defined